## Deliverable 3. Create a Travel Itinerary Map.

In [107]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [108]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,66.04,clear sky,-33.65,115.33,Observatory Guest House
1,1,Ponta Delgada,PT,65.50,few clouds,37.73,-25.67,Vila Nova Hotel
2,2,Tripoli,LY,62.73,overcast clouds,32.88,13.19,Hotel Al-Safwa
3,3,Ushuaia,AR,64.02,scattered clouds,-54.80,-68.30,Albatross Hotel
4,4,Los Llanos De Aridane,ES,66.13,few clouds,28.66,-17.92,Valle Aridane

In [109]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [110]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [111]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_df = clean_hotel_df
vacation_start = vacation_df.loc[(clean_hotel_df["City"] == "Sucua")]
vacation_end = vacation_df.loc[(clean_hotel_df["City"] == "Sucua")]
vacation_stop1 = vacation_df.loc[(clean_hotel_df["City"] == "Chimbote")]
vacation_stop2 = vacation_df.loc[(clean_hotel_df["City"] == "La Macarena")] 
vacation_stop3 = vacation_df.loc[(clean_hotel_df["City"] == "Boa Vista")] 

vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
38,54,La Macarena,CO,88.56,broken clouds,2.18,-73.78,Hotel Punto Verde

In [112]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

print(start, end, stop1, stop2, stop3)

(-2.4667, -78.1667) (-2.4667, -78.1667) (-9.0853, -78.5783) (2.1837, -73.7849) (2.8197, -60.6733)

In [117]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
trip_directions = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(trip_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,303,Sucua,EC,83.14,light rain,-2.47,-78.17,Hotel Orellana
1,473,Chimbote,PE,76.80,few clouds,-9.09,-78.58,Hotel Viera Chimbote
2,54,La Macarena,CO,88.56,broken clouds,2.18,-73.78,Hotel Punto Verde
3,692,Boa Vista,BR,89.58,broken clouds,2.82,-60.67,Aipana Plaza Hotel

In [115]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [116]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))